.film {
  margin-bottom: 50px;
}

.posters {
  height: 500px;
  width: 430px;
  padding: 10px;
  font-size: small;
  font-weight: normal;
}

.posters:hover {
  cursor: pointer;
}

.title {
  font-size: 12;
}
