.header {
  background-image: url("https://vizualclub.files.wordpress.com/2020/02/eotc9yeueaa8asj.jpg?w=723");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 50px;

  .header__title {
    font-size: 18px;
    color: #ffffff;
  }
}
