.header {
  background-image: url("https://i.pinimg.com/originals/3e/e2/a8/3ee2a8216d9357c9934cb592d2df68c3.jpg");
  padding: 10px 50px;

  p {
    color: white;
  }

  .header__title {
    font-size: 18px;
    color: #ffffff;
  }
}
